/**
 * Made by Melvin Campos Casares
 * Last modification: 21/09/2018
 */

body {
  --ephec: #FF6A10;
  --tile: #373737;
  --background: #171717;
}
h1, h2 { --header: #fafafa; }
a, span { --link: #e0e0e0; }
h2, footer {
  --rgba-start: rgba(0,0,0,0.16);
  --rgba-stop: rgba(0,0,0,0.23);
}
footer {
  --foot: #bdbdbd;
  --foot-background: #424242;
  --foot-rgba-start: rgba(0,0,0,0.30);
  --foot-rgba-stop: rgba(0,0,0,0.22);
}

.link {
  --rgba-link-start: rgba(0,0,0,0.12);
  --rgba-link-stop: rgba(0,0,0,0.24);
  --rgba-hover-start: rgba(0,0,0,0.25);
  --rgba-hover-stop: rgba(0,0,0,0.22);
}