/**
 * Made by Melvin Campos Casares
 * Last modification: 21/09/2018
 */

@import url(colors.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

/**
 * TAG
 */
body {
  text-align: center;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  margin-top: 75px;
}
h1, h2 {
  color: var(--header);
  margin: 25px;
}
h1 { font-size: 175%; }
h2 {
  font-size: 150%;
  text-shadow: 0 3px 6px var(--rgba-start), 0 3px 6px var(--rgba-stop);
}
a {
  color: var(--link);
  margin: 5px;
  padding: 2px 5px;
}
span {
  color: var(--link);
  font-size: 90%;
}
footer {
  color: var(--foot);
  font-size: 75%;
  margin-top: 20px;
  text-shadow: 0 3px 6px var(--rgba-start), 0 3px 6px var(--rgba-stop);
  /* Footer fixed at the bottom of the web navigator screen */
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--foot-background);
  height: 30px;
  width: 100%;
  text-align: center;
  box-shadow: 19px 0 38px var(--foot-rgba-start), 15px 0 12px var(--foot-rgba-stop);
}

/**
 * CLASS
 */
.tile {
  display: grid;
  grid-template-columns: repeat(4, 172px);
}
.superTile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.link {
  border: 1px solid var(--tile);
  background-color: var(--tile);
  text-decoration: none;
  box-shadow: 0 1px 3px var(--rgba-link-start), 0 1px 2px var(--rgba-link-stop);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 150px;
  height: 150px;
}
.link:hover {
  box-shadow: 0 14px 28px var(--rgba-hover-start), 0 10px 10px var(--rgba-hover-stop);
  transition: background-color, font-weight, border 200ms;
  background-color: var(--ephec);
  border: var(--ephec);
  font-weight: bold;
}

/**
 * ID
 */
#rapitisse {
  width: 175px;
  margin-top: -25px;
}
