@import url('https://fonts.googleapis.com/css?family=Roboto');

/**
 * TAG
 */
body {
  text-align: center;
  background-color: #424242;
  font-family: 'Roboto', sans-serif;
  margin-top: 75px;
}
h1, h2 {
  color: #fafafa;
  margin: 25px;
}
h1 { font-size: 175%; }
h2 {
  font-size: 150%;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
a {
  color: #e0e0e0;
  margin: 5px;
  padding: 2px 5px;
}
span {
  color: #e0e0e0;
  font-size: 90%;
}
footer {
  color: white;
  font-size: 10px;
  margin-top: 20px;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/**
 * CLASS
 */
.tile {
  display: grid;
  grid-template-columns: repeat(4, 172px);
}
.superTile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.link {
  border: 1px solid gray;
  background-color: gray;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 150px;
  height: 150px;
}
.link:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }

/**
 * ID
 */
#rapitisse { width: 200px; }
